body{
    background-image: url(./img/winter-snow.jpg);
   
}

.rubrik{
    border: 5px solid black;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

h1{
    color: whitesmoke;
    background-color: rgb(48, 56, 56);
}

.lista{
    border: 3px solid  yellow;
    background-color: rgb(48, 56, 56);
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    
}

.julafton{
    color: red;
    background-color: whitesmoke;
    margin-right: 240px;
}

.fjan{
    background-color:goldenrod;
    margin-right: 240px;
}

.röd{
    color: red;
}

table{
    text-align: center;
    margin: auto;
    width: 70%;
    
    border: 5px solid black;
    background-color: red;
}

td{
    font-size:40px;
    background-color: bisque;
}

th{
    font-size:x-large;
    background-color: gray;
}

.bild{
    border: 5px solid black;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    height: 350px;
}